.background {
  background-color: rgb(255, 255, 255);
}

.body {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

h1 {
  text-align: center;
}

.a:link, .a:visited {
  background-color: rgb(220, 220, 220);
  color: rgb(50, 50, 50);
  padding: 14px 25px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.a:hover, .a:active {
  background-color: rgb(200, 200, 200)
}

.homebutton:link, .homebutton:visited {
  float: left;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 14px 25px;
  text-decoration: none;
  color: rgb(0,0,0);
  background-color: rgb(220, 220, 220);
}

.homebutton:hover, .homebutton:active {
  color: rgb(0,0,0);
  background-color: rgb(200,200,200);
}


.resetButton{
  background-color: #d4d4d4;
  border: none;
  color: black;
  padding: 15px 15px;
  text-decoration: none;
  display: inline-block;
  position:fixed;
  top:70%;
}

.resetButton:hover{
  background-color: rgb(200,200,200);
  border: none;
  color: black;
  padding: 15px 15px;
  position:fixed;
  top:70%;
}

.center {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.text {
  color: rgb(255, 255, 255);
}

.center2 {
  text-align: center;
}

.buttons ul {
  list-style: none;
}

.buttons li {
  margin-bottom: 10px;
}

.default {
  width: 200px;
  margin: auto;
}

.box-2 {
  margin: auto;
  width: 80%;
  margin-bottom: 40px;
  border-style: solid;
  padding: 10px;
  background-color: rgb(230,230,230)
}

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.queryMove {}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  margin: auto;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
  margin-left: auto;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/*
.my-form {
  padding-left:100px;
}
*/
.my-form .form-group {
  padding-bottom: 15px;
}

.test-area {
  margin: 0 auto;
  max-width: 550px;
}

.button {
  background-color: black;
  color: white;
  padding: 20px;
  width:8%;
  min-width: 100px;
  text-align: center;
}

.result {
  float: left;
  margin-top: 10px;
  width: 100%;
  border: 3px solid rgb(0,0,0);
  padding: 10px;
  box-sizing: border-box;
  background-color: #d4d4d4;
}

table {
  border-collapse: collapse;
  width:100%;
  margin-top: 50px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.fix-me{
  position: fixed;
  top:80%;
}
